@import "variables";

header {
    width: 100%;
    background-color: $color-fondo;
    height: 90px;

    #menu a, button{
        font-size: 18px !important;
         font-weight: 600;
         padding-left: 10px;
    }

    .logoMenu {
        max-width: 50%;
    }
}

