@import "variables";

*{
    margin: 0;
    padding: 0;
    }
    
html { 
        font-size: 62.5%;
     }

a {
        text-decoration: none !important;
        color: $color-azul !important;
    }

     